// .widget-wrapper{
//     border-radius: 25px;
//     z-index: 1;
// }

// .smart-city_widget{
//     width: 100%;
//     height: 100%;
//     padding: 0px;
//     display: inline-flex;
//     color: #000; 


.main-content-block {
    width: 100%;
    display: inline-block;
    background-image: url(/images/al_haram-bg.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;


    &::before{
        content: "";
        background: #023d28;
        left: 0;
        top: 0;
        width: 35%;
        height: 112vh;
        position: absolute;
        z-index:0;
        background: rgb(2,61,40);
        background: linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 41 26) 50%, rgba(255, 255, 255, 0) 100%);
    }

    &::after{
        content: "";
        // background: #023d28;
        right: 0;
        top: 0;
        width: 35%;
        height: 112vh;
        position: absolute;
        z-index:0;

        background: rgb(2,61,40);
       // background: linear-gradient(270deg, rgba(2,61,40,1) 0%, rgba(2,61,40,1) 50%, rgba(255,255,255,0) 100%);
        background: linear-gradient(270deg, rgb(0 0 0) 0%, rgb(0 41 26) 50%, rgba(255, 255, 255, 0) 100%);
    }

    .widget-container-block {
        z-index: 1;
        position: relative;
        min-height: 112vh;
        background: #023d2875;
    }
}

    .smart-city_box{
        // width: 40%;
        // display: inline-block;
        background: rgb(0 0 0 / 0%);
        /* backdrop-filter: blur(34px); */
        box-shadow: none;
        border-radius: 10px;
        z-index: 1;
        
         .uxp-widget-title-bar{
            

            background: transparent;
            color: #1dcb8d;
            border-bottom: 1px solid #c2e6da;
            margin-bottom: 1em;
            padding: 0;
            outline: none;
            min-height: 30px;
            width: 95%;
        }

    .smart-city-content{ 
        display: inline-block;
        // width: 100%;
        width: 95%;
        margin-top: 1em;  
    
    }  

    &.order_trend-box{
        .smart-city-content{
            .technician_chart{ 
                .recharts-text{
                    fill:#ededed;
                }
            } 
        }
    }

    &.order_summary-box{ 

        .smart-city-content{
            height: 250px; 
            overflow: auto;

            .data-list-container{
                background-color: transparent;

                .data-list{
                    background-color: transparent;

                    .data-table{
                        background-color: transparent;
                        tr {
                            background-color: transparent;

                            th{ 
                                background-color: transparent;
                                color: #1dcb8d;
                                text-align: left;
                                padding: 5px 10px;
                            }
                            td{
                                .item-card{
                                    background-color: transparent;
                                    color: #ffffff;
                                    min-height: 40px;
                                }
                            } 
                        }
                    }
                }

                .data-list-footer{
                    background-color: transparent;

                    .go-up-btn-container{
                        background-color: rgb(5 81 54 / 34%);
                    }
                }
            }
        }
    }

    // &.segregation_metrics-box{
    //     right: 2%;
    //     left: auto;
    //     top: 3%;
    //     width: 43%;
    // }

    &.cctv-box{ 

        .body{
            height: 250px;  
            width: 100%;
            display: inline-block;
            background-image: url(/images/al_haram-bg.jpg);
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    &.waste-bin-box{ 

        .smart-city-content{
             
            .status-content{
                display: flex;
                width: 100%;
                padding: 0.5em 8% 3em 8%;

                .status{
                    display: inline-block;
                    width: 33%;
                    text-align: center;

                    h3{
                        font-size: 1.8em;
                        padding: 0;
                        margin: 0;
                    }
                    p{
                        font-size: 1em;
                        padding: 1em 0 0 0;
                        margin: 0;
                        color: #fff;
                    }

                &.attention-status{
                    h3{
                       color: rgb(211, 1, 1);
                    } 
                }
                &.pending-status{
                    h3{
                        color: rgb(218, 218, 1);
                    } 
                }
                &.resolved-status{
                    h3{
                        color: rgb(19 232 61);
                    } 
                }
                }
            }


            .technician_chart{
                .chart-sec{
                    width: 100%;
                    display: flex;
                    margin-top: 1.2em;

                    .chart-issue{
                       display: inline-block;
                       width: 75%;
                       text-align: center;
                    }
                    .chart-pending{
                        display: inline-block;
                        width: 25%;
                        text-align: center;
                    }
                    h3{
                        font-size: 2em;
                        padding: 0;
                        margin: 0;
                        color: #fff;
                    }
                    p{
                        font-size: 1em;
                        padding: 0;
                        margin: 0.5em 0 0 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}



// }


// .smart_widget_pict{
//     width: 100%;
//     display: inline-block;
//     background-image: url(/images/al_haram-bg.jpg);
//     background-size: 100% 100%;
//     background-position: center center;
//     background-repeat: no-repeat;
// }